body {
    background-color: #a9a9a9;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    h1,
    #clock {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.04;
        letter-spacing: 0em;
    }
}