body {
    background-color: #d6d6d6;
    font-family: 'Source Code Pro', monospace;
    color: #333;
    h1,
    #clock {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.04;
        letter-spacing: 0em;
    }
}