.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    #clock {
        display: inline-block;
        padding: 1rem;
        font-size: 70px;
        margin: 6rem 0;
    }
    .clock-changer,
    .clock-controls {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .skip-wrapper {
        background-color: #ededed;
        margin: 1rem 0 1.5rem 0;
        .skip-to-end {
            margin: 0;
            padding: 1.5rem 1rem;
            p {
                margin-top: 0;
                text-align: center;
            }
            button {
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    .encouragement {
        text-align: center;
    }

    .progress-circles-wrapper {
        position: relative;
        .circle {
            position: absolute;
            width: 120% !important;
            height: auto !important;
            left: -23px;
            top: 2px;
            &.dynamic {
                z-index: 2;
                .MuiCircularProgress-svg {
                    color: #1a9703;
                }
            }
            &.background {
                z-index: 1;
                .MuiCircularProgress-svg {
                    color: #cbcbcb;
                }
            }
            circle {
                stroke-width: 1.5;
            }
        }
    }
    
    @media only screen and (min-width: 532px) {
        .clock-changer,
        .clock-controls {
            margin: 1rem 0;
            button {
                width: 31%;
            }
        }
        .skip-wrapper {
            width: 90%;
        }
    }

    @media only screen and (max-width: 531px) {
        .clock-changer,
        .clock-controls {
            flex-direction: column;
            button {
                width: 100%;
                &:not(:last-of-type) {
                    margin-bottom: .5rem;
                }
            }
        }
        .clock-controls {
            margin-top: 1rem;
        }
        .clock-changer {
            margin-bottom: 1rem;
        }
        .skip-to-end {
            button {
                width: 100%;            
            }
        }
    }
}