.header-container {
    background-color: #d4433d;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    position: relative;
    z-index: 2;
    @media only screen and (min-width: 768px) {
        padding: 3rem 0;
    }
    @media only screen and (max-width: 768px) {
        padding: 2rem 0;
    }
    .header {
        display: flex;
        justify-content: space-between;
        h1 {
            margin: 0;
            color: #ededed;
            font-family: 'Pacifico', cursive;
        }
        .header-buttons {
            display: flex;
            div {
                &:first-of-type {
                    margin-right: .5rem;
                }
                button {
                    min-width: 150px;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            h1 {
                margin: 0;
                align-self: center;    
            }
            .header-buttons {
                flex-direction: column;
                div {
                    &:first-of-type {
                        margin-right: 0;
                        margin-bottom: .5rem;
                    }
                    button {
                        min-width: 150px;
                    }
                }
            }
        }
        @media only screen and (max-width: 531px) {
            flex-direction: column;
            h1 {
                margin-bottom: 1rem;
                text-align: center;
            }
            .header-buttons {
                button {
                    width: 100%;
                }
            }
        }
    }
}