.modal-window {

    background-color: #d6d6d6;
    outline: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 768px;
    max-width: 85%;

    min-height: 450px;
    max-height: 95%;

    padding: 0 1rem 1.5rem;

    overflow: auto;

    @media only screen and (max-width: 531px) {
        max-height: calc(90%);
    }

    a {
        transition: all .1s linear;

        color: #333;

        &:visited {
            color: #333;
        }

        &:hover {
            color: #df443d;
        }

        svg {
            height: 1.5em;
            width: 1.5em;
            fill: #333;
            transition: all .1s linear;

            margin-right: 5px;
            margin-bottom: -6px;
        }
        &:hover {
            svg {
                fill: #df443d;
            }
        }
    }

    .external-links {
        list-style-type: none;
        padding-left: 5px;
        li {
            margin-bottom: 6px;
        }
    }
    .modal-inner-wrapper {
        position: sticky;
        top: 0;
        .modal-close {
            position: sticky;
            top: 1rem;
            right: 0;
            float: right;
            z-index: 3;

            height: 36px;
            width: 36px;

            .MuiFab-label {
                line-height: 0;
                width: auto;
            }
            .MuiSvgIcon-root {
                width: 1rem;
                height: 1rem;
                transform: rotate(45deg);
            }
        }
    }
}