#settings {

    .MuiTextField-root {
        width: 32%;
        @media only screen and (max-width: 531px) {
            width: 100%;
            margin-bottom: .5rem;
        }
    }

    .MuiFormGroup-root {
        display: block;
    }

    .custom-times  {
        .times-wrapper {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 531px) {
                flex-direction: column;
            }
        }
    }

    .breaks-skip-wrapper {
        display: flex;
        justify-content: space-evenly;
        .show-breaks,
        .show-skip-button {
            width: 50%;
            h3 {
                text-align: center;
                display: block;
            }
            .MuiFormGroup-root {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        @media only screen and (max-width: 531px) {
            flex-direction: column;
            align-items: center;
            hr {
                width: 100%;
            }
        }
    }

    .setting {
        h3 {
            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    hr.add-margin {
        @media only screen and (min-width: 532px) {
            margin-top: 1rem;
        }
    }

    button {
        width: 49%;
        @media only screen and (max-width: 531px) {
            width: 100%;
            margin-bottom: .5rem;
        }
    }

    .button-wrapper {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;

        &.lower {
            justify-content: center;
            padding-bottom: 0;
            
            button {
                width: 100%;
            }
        }

        @media only screen and (max-width: 531px) {
            flex-direction: column;
            padding: .5rem 0 0;

            

            &.lower {
                button {
                    margin-bottom: 0;
                }
            }
        }
    }

    .sound-settings {
        .inner-wrapper {
            display: flex;
            justify-content: space-between;
            > * {
                width: 32%;
            }
            @media only screen and (max-width: 531px) {
                flex-direction: column;
                padding: .5rem 0 0;
    
                > * {
                    width: 100%;
                }
            }
        }
    }
}