.single-element-wrapper {
    display: inline-block;
    &:hover {
        .element-pop-up {
            display: block;
        }
    }
}
.time-element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .coffee-image,
    .tomato-image {
        width: 100%;
    }

    &.break {
        .tomato-image {
            display: none;
        }
    }
    &.tomato {
        .coffee-image {
            display: none;
        }
    }
    .element-pop-up {
        display: block;
        display: none;
        position: absolute;
        width: 250px;
        background-color: #ededed;
        bottom: 90%;
        border-radius: 4px;
        padding: 1rem;
        z-index: 2;
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
        &::after {
            display: block;
            content:"\A";
            border-style: solid;
            border-width: 12px;
            transform: rotate(-90deg);
            border-color: transparent #ededed transparent transparent;
            position: absolute;
            left: calc(50% - 12px);
            bottom: -22px;
        }

        .log-info {
            p {
                margin: 0 0 0.5rem;
            }
        }
    }
}

.day {
    .time-elements-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media only screen and (min-width: 768px) {
            .single-element-wrapper {
                width: 10.5%;
                margin: 0 1%;
            }
        }
        @media only screen and (max-width: 767px) {
            .single-element-wrapper {
                width: 23%;
                margin: 0 1%;
            }
        }
        @media only screen and (max-width: 531px) {
            .single-element-wrapper {
                width: 48%;
                margin: 0 1%;
            }
        }
    }



    &.hide-day,
    &.no-tomatoes.hide-breaks {
        display: none;
    }

}

.single-element-wrapper {
    &.show-element {
        @media only screen and (min-width: 768px) {
            &:nth-of-type(8n+1) {
                .element-pop-up {
                    left: -40%;
                    &:after {
                        left: calc(30% - 12px);
                    }
                }
                
            }
            &:nth-of-type(8n+8) {
                .element-pop-up {
                    right: -40%;
                    &:after {
                        left: calc(70% - 12px);
                    }
                }
            }       
        }

        @media only screen and (max-width: 850px) {
            &:nth-of-type(8n+1) {
                .element-pop-up {
                    &:after {
                        left: calc(30% - 30px);
                    }
                }
            }
            &:nth-of-type(8n+8) {
                .element-pop-up {
                    &:after {
                        left: calc(70% + 6px);
                    }
                }
            }       
        }

        @media only screen and (max-width: 767px) {
            &:nth-of-type(4n+1) {
                .element-pop-up {
                    left: -17%;
                    &:after {
                        left: calc(44% - 30px);
                    }
                }
            }
            &:nth-of-type(4n+4) {
                .element-pop-up {
                    right: -17%;
                    &:after {
                        left: calc(56% + 6px);
                    }
                }
            }       
        }

        @media only screen and (max-width: 650px) {
            &:nth-of-type(4n+1) {
                .element-pop-up {
                    &:after {
                        left: calc(37% - 30px);
                    }
                }
            }
            &:nth-of-type(4n+4) {
                .element-pop-up {
                    &:after {
                        left: calc(64% + 6px);
                    }
                }
            }       
        }

        @media only screen and (max-width: 531px) {
            &:nth-of-type(2n+1) {
                .element-pop-up {
                    left: 0;
                    &:after {
                        left: calc(44% - 30px);
                    }
                }
            }
            &:nth-of-type(2n+2) {
                .element-pop-up {
                    right: 0;
                    &:after {
                        left: calc(64% - 6px);
                    }
                }
            }  
        }

        @media only screen and (max-width: 440px) {
            &:nth-of-type(2n+1) {
                .element-pop-up {
                    &:after {
                        left: calc(37% - 30px);
                    }
                }
            }
            &:nth-of-type(2n+2) {
                .element-pop-up {
                    &:after {
                        left: calc(64% + 6px);
                    }
                }
            }       
        }
    }
}