body {
    h1 {
        text-decoration: line-through;
    }
}
body {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 1rem;
    p {
        color: green;
        text-decoration: underline;
    }
}