body {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 1rem; }

.time-element {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  display: block; }
  .time-element.break {
    border: 1px solid grey; }
  .time-element.tomato {
    border: 1px solid orange; }
