body {
  background-color: #ededed;
  font-family: 'Source Code Pro', monospace;
  color: #333; }
  body h1,
  body #clock {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.04;
    letter-spacing: 0em; }

.header-container {
  background-color: #d4433d;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 768px) {
    .header-container {
      padding: 3rem 0; } }
  @media only screen and (max-width: 768px) {
    .header-container {
      padding: 2rem 0; } }
  .header-container .header {
    display: flex;
    justify-content: space-between; }
    .header-container .header h1 {
      margin: 0;
      color: #ededed;
      font-family: 'Pacifico', cursive; }
    .header-container .header .header-buttons {
      display: flex; }
      .header-container .header .header-buttons div:first-of-type {
        margin-right: .5rem; }
      .header-container .header .header-buttons div button {
        min-width: 150px; }
    @media only screen and (max-width: 767px) {
      .header-container .header h1 {
        margin: 0;
        align-self: center; }
      .header-container .header .header-buttons {
        flex-direction: column; }
        .header-container .header .header-buttons div:first-of-type {
          margin-right: 0;
          margin-bottom: .5rem; }
        .header-container .header .header-buttons div button {
          min-width: 150px; } }
    @media only screen and (max-width: 531px) {
      .header-container .header {
        flex-direction: column; }
        .header-container .header h1 {
          margin-bottom: 1rem;
          text-align: center; }
        .header-container .header .header-buttons button {
          width: 100%; } }

.footer-container {
  padding: 3rem 0;
  background-color: #ededed;
  box-shadow: inset 0px 10px 6px -11px rgba(0, 0, 0, 0.75); }
  .footer-container .footer {
    display: flex;
    justify-content: space-between; }
    .footer-container .footer .external-links {
      padding: 0;
      display: flex; }
      .footer-container .footer .external-links li {
        list-style-type: none; }
        .footer-container .footer .external-links li:not(:last-child) {
          margin-right: 1rem; }
        .footer-container .footer .external-links li a svg {
          height: 1.5em;
          width: 1.5em;
          fill: #333;
          transition: all .1s linear; }
        .footer-container .footer .external-links li a:hover svg {
          fill: #df443d; }
  @media only screen and (max-width: 531px) {
    .footer-container {
      padding: 1rem 0; }
      .footer-container .footer {
        flex-direction: column;
        align-items: center; } }

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .clock-container #clock {
    display: inline-block;
    padding: 1rem;
    font-size: 70px;
    margin: 6rem 0; }
  .clock-container .clock-changer,
  .clock-container .clock-controls {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .clock-container .skip-wrapper {
    background-color: #ededed;
    margin: 1rem 0 1.5rem 0; }
    .clock-container .skip-wrapper .skip-to-end {
      margin: 0;
      padding: 1.5rem 1rem; }
      .clock-container .skip-wrapper .skip-to-end p {
        margin-top: 0;
        text-align: center; }
      .clock-container .skip-wrapper .skip-to-end button {
        display: block;
        margin: 0 auto; }
  .clock-container .encouragement {
    text-align: center; }
  .clock-container .progress-circles-wrapper {
    position: relative; }
    .clock-container .progress-circles-wrapper .circle {
      position: absolute;
      width: 120% !important;
      height: auto !important;
      left: -23px;
      top: 2px; }
      .clock-container .progress-circles-wrapper .circle.dynamic {
        z-index: 2; }
        .clock-container .progress-circles-wrapper .circle.dynamic .MuiCircularProgress-svg {
          color: #1a9703; }
      .clock-container .progress-circles-wrapper .circle.background {
        z-index: 1; }
        .clock-container .progress-circles-wrapper .circle.background .MuiCircularProgress-svg {
          color: #cbcbcb; }
      .clock-container .progress-circles-wrapper .circle circle {
        stroke-width: 1.5; }
  @media only screen and (min-width: 532px) {
    .clock-container .clock-changer,
    .clock-container .clock-controls {
      margin: 1rem 0; }
      .clock-container .clock-changer button,
      .clock-container .clock-controls button {
        width: 31%; }
    .clock-container .skip-wrapper {
      width: 90%; } }
  @media only screen and (max-width: 531px) {
    .clock-container .clock-changer,
    .clock-container .clock-controls {
      flex-direction: column; }
      .clock-container .clock-changer button,
      .clock-container .clock-controls button {
        width: 100%; }
        .clock-container .clock-changer button:not(:last-of-type),
        .clock-container .clock-controls button:not(:last-of-type) {
          margin-bottom: .5rem; }
    .clock-container .clock-controls {
      margin-top: 1rem; }
    .clock-container .clock-changer {
      margin-bottom: 1rem; }
    .clock-container .skip-to-end button {
      width: 100%; } }

.single-element-wrapper {
  display: inline-block; }
  .single-element-wrapper:hover .element-pop-up {
    display: block; }

.time-element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .time-element .coffee-image,
  .time-element .tomato-image {
    width: 100%;
    border-radius: 99em;
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.3));
    transition: all .2s; }
    .time-element .coffee-image:hover,
    .time-element .tomato-image:hover {
      transform: translateY(-3px);
      filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 0.2)); }
    .time-element .coffee-image:active, .time-element .coffee-image:focus,
    .time-element .tomato-image:active,
    .time-element .tomato-image:focus {
      outline: none;
      transform: translateY(-1px);
      filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.3)); }
  .time-element.break .tomato-image {
    display: none; }
  .time-element.tomato .coffee-image {
    display: none; }
  .time-element .element-pop-up {
    display: block;
    display: none;
    position: absolute;
    width: 250px;
    background-color: #ededed;
    bottom: 90%;
    border-radius: 4px;
    padding: 1rem;
    z-index: 2;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }
    .time-element .element-pop-up::after {
      display: block;
      content: "\A";
      border-style: solid;
      border-width: 12px;
      transform: rotate(-90deg);
      border-color: transparent #ededed transparent transparent;
      position: absolute;
      left: calc(50% - 12px);
      bottom: -22px; }
    .time-element .element-pop-up .log-info p {
      margin: 0 0 0.5rem; }

.day .time-elements-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  @media only screen and (min-width: 768px) {
    .day .time-elements-container .single-element-wrapper {
      width: 10.5%;
      margin: 0 1%; } }
  @media only screen and (max-width: 767px) {
    .day .time-elements-container .single-element-wrapper {
      width: 23%;
      margin: 0 1%; } }
  @media only screen and (max-width: 531px) {
    .day .time-elements-container .single-element-wrapper {
      width: 48%;
      margin: 0 1%; } }

.day.hide-day, .day.no-tomatoes.hide-breaks {
  display: none; }

@media only screen and (min-width: 768px) {
  .single-element-wrapper.show-element:nth-of-type(8n+1) .element-pop-up {
    left: -40%; }
    .single-element-wrapper.show-element:nth-of-type(8n+1) .element-pop-up:after {
      left: calc(30% - 12px); }
  .single-element-wrapper.show-element:nth-of-type(8n+8) .element-pop-up {
    right: -40%; }
    .single-element-wrapper.show-element:nth-of-type(8n+8) .element-pop-up:after {
      left: calc(70% - 12px); } }

@media only screen and (max-width: 850px) {
  .single-element-wrapper.show-element:nth-of-type(8n+1) .element-pop-up:after {
    left: calc(30% - 30px); }
  .single-element-wrapper.show-element:nth-of-type(8n+8) .element-pop-up:after {
    left: calc(70% + 6px); } }

@media only screen and (max-width: 767px) {
  .single-element-wrapper.show-element:nth-of-type(4n+1) .element-pop-up {
    left: -17%; }
    .single-element-wrapper.show-element:nth-of-type(4n+1) .element-pop-up:after {
      left: calc(44% - 30px); }
  .single-element-wrapper.show-element:nth-of-type(4n+4) .element-pop-up {
    right: -17%; }
    .single-element-wrapper.show-element:nth-of-type(4n+4) .element-pop-up:after {
      left: calc(56% + 6px); } }

@media only screen and (max-width: 650px) {
  .single-element-wrapper.show-element:nth-of-type(4n+1) .element-pop-up:after {
    left: calc(37% - 30px); }
  .single-element-wrapper.show-element:nth-of-type(4n+4) .element-pop-up:after {
    left: calc(64% + 6px); } }

@media only screen and (max-width: 531px) {
  .single-element-wrapper.show-element:nth-of-type(2n+1) .element-pop-up {
    left: 0; }
    .single-element-wrapper.show-element:nth-of-type(2n+1) .element-pop-up:after {
      left: calc(44% - 30px); }
  .single-element-wrapper.show-element:nth-of-type(2n+2) .element-pop-up {
    right: 0; }
    .single-element-wrapper.show-element:nth-of-type(2n+2) .element-pop-up:after {
      left: calc(64% - 6px); } }

@media only screen and (max-width: 440px) {
  .single-element-wrapper.show-element:nth-of-type(2n+1) .element-pop-up:after {
    left: calc(37% - 30px); }
  .single-element-wrapper.show-element:nth-of-type(2n+2) .element-pop-up:after {
    left: calc(64% + 6px); } }

.modal-window {
  background-color: #d6d6d6;
  outline: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  max-width: 85%;
  min-height: 450px;
  max-height: 95%;
  padding: 0 1rem 1.5rem;
  overflow: auto; }
  @media only screen and (max-width: 531px) {
    .modal-window {
      max-height: calc(90%); } }
  .modal-window a {
    transition: all .1s linear;
    color: #333; }
    .modal-window a:visited {
      color: #333; }
    .modal-window a:hover {
      color: #df443d; }
    .modal-window a svg {
      height: 1.5em;
      width: 1.5em;
      fill: #333;
      transition: all .1s linear;
      margin-right: 5px;
      margin-bottom: -6px; }
    .modal-window a:hover svg {
      fill: #df443d; }
  .modal-window .external-links {
    list-style-type: none;
    padding-left: 5px; }
    .modal-window .external-links li {
      margin-bottom: 6px; }
  .modal-window .modal-inner-wrapper {
    position: sticky;
    top: 0; }
    .modal-window .modal-inner-wrapper .modal-close {
      position: sticky;
      top: 1rem;
      right: 0;
      float: right;
      z-index: 3;
      height: 36px;
      width: 36px; }
      .modal-window .modal-inner-wrapper .modal-close .MuiFab-label {
        line-height: 0;
        width: auto; }
      .modal-window .modal-inner-wrapper .modal-close .MuiSvgIcon-root {
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg); }

#settings .MuiTextField-root {
  width: 32%; }
  @media only screen and (max-width: 531px) {
    #settings .MuiTextField-root {
      width: 100%;
      margin-bottom: .5rem; } }

#settings .MuiFormGroup-root {
  display: block; }

#settings .custom-times .times-wrapper {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 531px) {
    #settings .custom-times .times-wrapper {
      flex-direction: column; } }

#settings .breaks-skip-wrapper {
  display: flex;
  justify-content: space-evenly; }
  #settings .breaks-skip-wrapper .show-breaks,
  #settings .breaks-skip-wrapper .show-skip-button {
    width: 50%; }
    #settings .breaks-skip-wrapper .show-breaks p,
    #settings .breaks-skip-wrapper .show-skip-button p {
      text-align: center;
      display: block; }
    #settings .breaks-skip-wrapper .show-breaks .MuiFormGroup-root,
    #settings .breaks-skip-wrapper .show-skip-button .MuiFormGroup-root {
      display: flex;
      flex-direction: row;
      justify-content: center; }
  @media only screen and (max-width: 531px) {
    #settings .breaks-skip-wrapper {
      flex-direction: column;
      align-items: center; }
      #settings .breaks-skip-wrapper hr {
        width: 100%; } }

#settings .setting p:first-of-type {
  margin-top: 0; }

@media only screen and (min-width: 532px) {
  #settings hr.add-margin {
    margin-top: 1rem; } }

#settings button {
  width: 49%; }
  @media only screen and (max-width: 531px) {
    #settings button {
      width: 100%;
      margin-bottom: .5rem; } }

#settings .button-wrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between; }
  #settings .button-wrapper.lower {
    justify-content: center;
    padding-bottom: 0; }
    #settings .button-wrapper.lower button {
      width: 100%; }
  @media only screen and (max-width: 531px) {
    #settings .button-wrapper {
      flex-direction: column;
      padding: .5rem 0 0; }
      #settings .button-wrapper.lower button {
        margin-bottom: 0; } }

#settings .sound-settings .inner-wrapper {
  display: flex;
  justify-content: space-between; }
  #settings .sound-settings .inner-wrapper > * {
    width: 32%; }
  @media only screen and (max-width: 531px) {
    #settings .sound-settings .inner-wrapper {
      flex-direction: column;
      padding: .5rem 0 0; }
      #settings .sound-settings .inner-wrapper > * {
        width: 100%; } }

.app-container {
  padding-top: 2rem;
  padding-bottom: 2rem; }

button span {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600; }

button.start {
  color: white;
  background-color: #1a9703; }
  button.start:hover {
    background-color: #167e03; }

button.submit {
  border-color: #1a9703; }

button.stop {
  color: white;
  background-color: #df443d; }
  button.stop:hover {
    background-color: #db2f27; }

button.clear {
  border-color: #df443d; }

button:not(.stop):not(.start):not(.submit):not(.clear) {
  background-color: #ededed; }
  button:not(.stop):not(.start):not(.submit):not(.clear):hover {
    background-color: #e5e5e5; }

@keyframes bounce30 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-30deg); }
  40% {
    transform: translateY(-30px) rotate(-30deg); }
  60% {
    transform: translateY(-15px) rotate(-30deg); } }

@keyframes bounce45 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(-45deg); }
  40% {
    transform: translateY(-30px) rotate(-45deg); }
  60% {
    transform: translateY(-15px) rotate(-45deg); } }

.arrow {
  position: absolute;
  animation-delay: .5s;
  animation-duration: 1s;
  transition: all .5s ease-out .5s; }
  .arrow svg {
    height: 10rem;
    width: 10rem;
    fill: #1a9703; }
  @media only screen and (min-width: 768px) {
    .arrow {
      animation-name: bounce30;
      right: -10rem;
      top: -7rem;
      transform: rotate(-30deg); } }
  @media only screen and (max-width: 768px) {
    .arrow {
      animation-name: bounce45;
      right: -9rem;
      top: -8rem;
      transform: rotate(-45deg); } }
  @media only screen and (max-width: 531px) {
    .arrow {
      right: -9rem;
      top: -7rem; } }
